Godot.x86_64

.godot/
.import/
*.translation

export_presets.cfg

godot-cpp/

.sconsign.dblite
.sconstruct.state
out/
build/

*.o
*.os
*.obj
*.a
*.lib.
*.exp
*.ilk
*.pdb

bin/
demo/bin/
*.dll
*.so
*.dylib
*.wasm

.vs/
.vscode/
.idea/
*.sln
*.vcxproj
*.user
